version: "3.8"
services:
  apache:
    image: php:8.2-apache
    container_name: apache
    volumes:
      - ./www:/var/www/html/
    ports:
      - "8080:80"
    depends_on:
      - mysql
    command: >
      bash -c "docker-php-ext-install mysqli && apache2-foreground"

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
