services:

  apache:
    image: php:8.2-apache
    container_name: apache
    volumes:
      - ./www:/var/www/html/
      - ./uploads:/var/www/html/uploads
    ports:
      - "8080:80"
    depends_on:
      - mysql
    command: >
      bash -c "docker-php-ext-install pdo pdo_mysql mysqli && apache2-foreground"

  mysql:
    image: mysql:8
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: testdb
    ports:
      - "3306:3306"

volumes:
  dbdata:
